[Unit]
Description=Start PVE VNC Proxy API Service
After=network.target

[Service]
WorkingDirectory=/etc/pvevncproxy
ExecStart=/etc/pvevncproxy/pvevncproxyapi.sh start
ExecReload=/etc/pvevncproxy/pvevncproxyapi.sh reload


[Install]
WantedBy=multi-user.target
