[Unit]
Description=Start NASA PVE VNC Proxy Service
After=network.target

[Service]
User=nasa
Group=nasa
WorkingDirectory=/etc/pvevncproxy
ExecStart=/usr/local/bin/pvevncproxy

[Install]
WantedBy=multi-user.target
